@charset "UTF-8";
/* variables */
/* colors */
/* sizes */
/* site-wide */
body {
  color: #333;
  font-family: "Roboto Mono", Roboto, sans-serif;
  font-size: 1rem;
  margin: 0; }

/* reset */
h1, h2, h3 {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* layout */
#page {
  height: calc(100vh - 8px);
  background-color: #fff5e5; }
  #page.dark-mode {
    color: #eee; }

/* general lists */
ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.row {
  display: flex;
  flex-direction: row; }

.column {
  display: flex;
  flex-direction: column; }

/* top-bar HUD elements */
#top-bar {
  background-color: #87ceeb;
  display: flex;
  height: 20%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  position: relative;
  width: 100%; }

#hero {
  z-index: 2;
  display: flex;
  gap: 0.5rem;
  z-index: 2; }
  #hero .portrait {
    border: 2px solid #008f11;
    height: 96px; }
    #hero .portrait img {
      height: 100%;
      width: auto; }
  #hero .column {
    justify-content: space-between; }
  #hero .name {
    margin-top: 0.5rem;
    font-size: 2rem; }

#logo {
  z-index: 2;
  animation: sinewave 30s linear infinite;
  font-family: "Lobster Two", "Times New Roman", serif;
  font-size: 4rem;
  left: 50%;
  opacity: 75%;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%); }

@keyframes sinewave {
  0% {
    opacity: 0.75; }
  50% {
    opacity: 0.05; }
  100% {
    opacity: 0.75; } }
#score {
  z-index: 2; }
  #score *:first-child {
    font-size: 2rem; }

#clock {
  z-index: 2;
  font-size: 2rem;
  margin: 0.5rem; }

#sky-container {
  width: calc(100% - 4rem);
  height: calc(100% + 4rem);
  position: absolute;
  left: 0; }
  #sky-container #sun {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0 0 4rem 1rem yellow; }
  #sky-container #moon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fff5e5;
    box-shadow: 0 0 1rem 0.25rem #fff5e5;
    border: 1px solid white;
    overflow: hidden; }
    #sky-container #moon #darkside {
      position: absolute;
      height: 100%;
      width: 50%;
      background-color: black; }
    #sky-container #moon #ellipse {
      position: absolute;
      border-radius: 50%;
      height: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: black; }

/* main-area */
#main-area {
  display: flex;
  gap: 0.5rem;
  height: 80%;
  position: relative;
  width: 100%; }

/* left-sidebar elements */
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%; }

#inventory {
  display: flex;
  flex-direction: column;
  background-color: #e1a836;
  height: 50%;
  justify-content: space-between;
  width: 100%; }
  #inventory .item {
    border: 2px solid;
    overflow: hidden;
    white-space: nowrap; }
    #inventory .item.empty-slot {
      border-color: beige;
      opacity: 0.5; }
    #inventory .item.common {
      border-color: sandybrown; }
    #inventory .item.uncommon {
      border-color: limegreen; }
    #inventory .item.rare {
      border-color: dodgerblue; }
    #inventory .item.epic {
      border-color: rebeccapurple; }
    #inventory .item .type {
      font-size: 2rem;
      margin-right: 0.5rem; }
    #inventory .item .name {
      font-size: 1.5rem; }

#wallet {
  background-color: #85bb65;
  font-size: 4rem;
  text-align: center; }

/* column between left-sidebar and center-col */
#actions {
  display: flex;
  flex-direction: column;
  background-color: pink;
  gap: 0.5rem;
  width: 20%; }
  #actions .action {
    border: 2px solid lightpink;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; }
    #actions .action.executing {
      background-color: #8f0011; }

/* center-col elements */
#center-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 60%; }

#location {
  height: 50%;
  position: relative;
  width: 100%; }
  #location .name {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 10; }
  #location .landscape-filter {
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2; }
  #location .landscape {
    bottom: 0;
    position: absolute;
    width: 100%; }

#buildings {
  background-color: rgba(176, 156, 201, 0.5);
  bottom: 0;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 5; }
  #buildings .building {
    display: flex;
    flex-direction: column;
    max-width: 20%; }
    #buildings .building .icon {
      font-size: 2rem;
      text-align: center; }
    #buildings .building .name {
      font-size: 1.5rem; }

#local-items {
  display: flex;
  flex-direction: row;
  background-color: #f9cca4;
  height: 20%;
  justify-content: space-between;
  overflow: hidden;
  width: 100%; }
  #local-items .item {
    display: flex;
    flex-direction: column;
    width: 15%;
    box-sizing: border-box; }
    #local-items .item.empty-slot {
      border-color: beige;
      opacity: 0.5; }
    #local-items .item .type-emoji {
      font-size: 2rem;
      text-align: center; }
    #local-items .item .item-name {
      font-size: 1rem;
      text-align: center; }
    #local-items .item.watered {
      border: 1px solid blue; }

#footer {
  height: 30%;
  width: 100%;
  position: relative; }

#message-log {
  background-color: #fcf5ef;
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll; }
  #message-log .message {
    font-size: 2rem;
    overflow: hidden;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid darkgreen;
    color: darkgreen; }
    #message-log .message.error {
      color: darkred; }

#dialogue {
  display: flex;
  flex-direction: column;
  background-color: #fcf5ef;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer; }
  #dialogue .speaker {
    display: flex;
    flex-direction: row;
    gap: 0.5rem; }
  #dialogue .portrait {
    border: 2px solid #008f11;
    height: 2.5rem;
    width: 2.5rem; }
    #dialogue .portrait img {
      height: 100%;
      width: auto; }
  #dialogue .name {
    color: #133;
    font-size: 2rem; }
  #dialogue .dialogue-text {
    color: #133;
    font-size: 1.5rem; }
  #dialogue:hover::after {
    color: #8f0011;
    content: '×';
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: -1rem; }

/* right-sidebar elements, just villagers */
#villagers {
  display: flex;
  flex-direction: column;
  background-color: #ffd1d8;
  gap: 0.5rem;
  height: 100%;
  overflow: hidden;
  width: 20%; }
  #villagers .villager {
    display: flex;
    flex-direction: column; }
    #villagers .villager .portrait {
      border: 2px solid #008f11;
      height: 2.5rem;
      width: 2.5rem; }
      #villagers .villager .portrait img {
        height: 100%;
        width: auto; }
    #villagers .villager .row {
      gap: 0.5rem; }
    #villagers .villager .column {
      justify-content: space-between; }
    #villagers .villager .description {
      font-size: 0.75rem; }

/*# sourceMappingURL=style.css.map */
