@charset "UTF-8";
/* variables */
/* colors */
/* sizes */
/* degrees */
/* site-wide */
body, html {
  color: #333;
  font-family: Montserrat, Verdana, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; }

/* reset */
h1, h2, h3 {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* layout */
#page {
  height: 100vh;
  background-color: #fff5e5; }
  #page.dark-mode {
    color: #eee; }
    #page.dark-mode #actions .action {
      border-color: #ddd; }
    #page.dark-mode #location h2.name {
      background-color: #000000aa; }

/* general lists */
ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.row {
  display: flex;
  flex-direction: row; }

.column {
  display: flex;
  flex-direction: column; }

/* top-bar HUD elements */
#top-bar {
  background-color: #87ceeb;
  display: flex;
  height: 19%;
  justify-content: space-between;
  margin-bottom: 1vh;
  position: relative;
  width: 100%; }

#hero {
  z-index: 2;
  display: flex;
  gap: 0.5rem;
  z-index: 2; }
  #hero .portrait {
    border: 2px solid #008f11;
    height: 100%;
    box-sizing: border-box; }
    #hero .portrait img {
      height: 100%;
      width: auto; }
  #hero .column {
    justify-content: space-between;
    margin-top: 0.5rem; }
  #hero .name {
    font-size: 2rem; }
    @media only screen and (max-width: 900px) {
      #hero .name {
        font-size: 1.5rem; } }

#logo {
  z-index: 2;
  animation: sinewave 30s linear infinite;
  font-family: "Lobster Two", "Times New Roman", serif;
  font-size: 4rem;
  left: 50%;
  opacity: 75%;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%); }

@keyframes sinewave {
  0% {
    opacity: 0.75; }
  50% {
    opacity: 0.05; }
  100% {
    opacity: 0.75; } }
#score {
  z-index: 2; }
  #score *:first-child {
    font-size: 2rem; }
    @media only screen and (max-width: 900px) {
      #score *:first-child {
        font-size: 1.25rem; } }

#high-score {
  font-size: 1rem;
  opacity: 0.6; }
  @media only screen and (max-width: 900px) {
    #high-score {
      font-size: 0.75rem; } }

#clock {
  z-index: 2;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin: 0.5rem; }
  @media only screen and (max-width: 900px) {
    #clock {
      font-size: 1.5rem; } }
  #clock .late {
    color: #ffff33; }
  #clock .very-late {
    color: #ff5f1f; }
  #clock .very-very-late {
    color: #ff3131; }

#boost {
  opacity: 0.6;
  font-size: 1.25rem;
  text-align: right; }
  @media only screen and (max-width: 900px) {
    #boost {
      font-size: 1rem; } }

#sky-container {
  width: calc(100% - 4rem);
  height: calc(100% + 4rem);
  position: absolute;
  left: 0; }
  #sky-container #sun {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0 0 4rem 1rem yellow; }
  #sky-container #moon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fff5e5;
    box-shadow: 0 0 1rem 0.25rem #fff5e5;
    border: 1px solid white;
    overflow: hidden; }
    #sky-container #moon #darkside {
      position: absolute;
      height: 100%;
      width: 50%;
      background-color: black; }
    #sky-container #moon #ellipse {
      position: absolute;
      border-radius: 50%;
      height: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: black; }

/* main-area */
#main-area {
  display: flex;
  gap: 0.5rem;
  height: 80%;
  position: relative;
  width: 100%; }

/* left-sidebar elements */
#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%; }

#inventory {
  display: flex;
  flex-direction: column;
  background-color: #e1a836;
  height: 80%;
  justify-content: space-between;
  width: 100%; }
  #inventory .item {
    border: 2px solid;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1; }
    #inventory .item.empty-slot {
      border-color: #ffffff00;
      opacity: 0.5; }
    #inventory .item.common {
      border-color: #ffffff00; }
    #inventory .item.uncommon {
      border-color: limegreen;
      background-color: rgba(50, 205, 50, 0.5); }
    #inventory .item.rare {
      border-color: dodgerblue;
      background-color: rgba(30, 144, 255, 0.5); }
    #inventory .item.epic {
      border-color: rebeccapurple;
      background-color: rgba(102, 51, 153, 0.5); }
    #inventory .item .type {
      font-size: 2rem;
      margin-right: 0.5rem; }
      @media only screen and (max-width: 900px) {
        #inventory .item .type {
          font-size: 1.5rem; } }
    #inventory .item .name {
      font-size: 1.5rem; }
      @media only screen and (max-width: 900px) {
        #inventory .item .name {
          font-size: 1rem; } }

#wallet {
  background-color: #85bb65;
  font-size: 4rem;
  text-align: center;
  overflow: hidden;
  height: 20%; }
  @media only screen and (max-width: 900px) {
    #wallet {
      font-size: 3rem; } }

/* column between left-sidebar and center-col */
#actions {
  display: flex;
  flex-direction: column;
  background-color: pink;
  width: 20%;
  overflow-y: auto; }
  #actions .action {
    border-bottom: 1px solid #333;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    padding: 0.5rem 0;
    width: 100%; }
    #actions .action span {
      display: inline-block; }
      #actions .action span.description {
        text-align: center; }

/* center-col elements */
#center-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 60%;
  justify-content: space-between; }

#location {
  height: 50%;
  position: relative;
  width: 100%;
  flex-grow: 0; }
  #location h2.name {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 10;
    background-color: #ffffffaa; }
  #location .landscape-filter {
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2; }
  #location .landscape {
    bottom: 0;
    position: absolute;
    width: 100%; }

#buildings {
  bottom: 0;
  justify-content: space-between;
  background-color: rgba(176, 156, 201, 0.5);
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 5; }
  #buildings .building {
    display: flex;
    flex-direction: column;
    max-width: 20%; }
    #buildings .building .icon {
      font-size: 2rem;
      text-align: center; }
      @media only screen and (max-width: 900px) {
        #buildings .building .icon {
          font-size: 1.25rem; } }
    #buildings .building .name {
      text-align: center;
      font-size: 1.5rem; }
      @media only screen and (max-width: 900px) {
        #buildings .building .name {
          font-size: 0.75rem; } }

#local-items {
  display: flex;
  flex-direction: row;
  background-color: #f9cca4;
  height: 20%;
  justify-content: space-between;
  overflow: hidden;
  width: 100%; }
  #local-items .item {
    display: flex;
    flex-direction: column;
    width: 15%;
    box-sizing: border-box;
    overflow: hidden; }
    #local-items .item.empty-slot {
      border-color: beige;
      opacity: 0.5; }
    #local-items .item .type {
      font-size: 1.5rem;
      text-align: center; }
    #local-items .item .name {
      text-align: center;
      font-size: 1.5rem; }
      @media only screen and (max-width: 900px) {
        #local-items .item .name {
          font-size: 0.75rem; } }
    #local-items .item.watered {
      border: 1px solid blue; }

#footer {
  height: 30%;
  flex-grow: 1;
  width: 100%;
  position: relative; }

#message-log {
  background-color: #fcf5ef;
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto; }
  #message-log .message {
    font-size: 1.5rem;
    overflow: hidden;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid darkgreen; }
    #message-log .message:last-child {
      border: none; }
    #message-log .message.error {
      color: darkred; }

#dialogue {
  display: flex;
  flex-direction: column;
  background-color: #fcf5ef;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer; }
  #dialogue .speaker {
    display: flex;
    flex-direction: row;
    gap: 0.5rem; }
  #dialogue .portrait {
    border: 2px solid #008f11;
    height: 2.5rem;
    width: 2.5rem; }
    #dialogue .portrait img {
      height: 100%;
      width: auto; }
  #dialogue .name {
    font-size: 2rem; }
  #dialogue .dialogue-text {
    font-size: 1.25rem; }
  #dialogue:hover::after {
    color: #8f0011;
    content: '×';
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: -1rem; }

/* right-sidebar elements, just villagers */
#villagers {
  display: flex;
  flex-direction: column;
  background-color: #ffd1d8;
  gap: 0.5rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 20%; }
  #villagers .villager {
    display: flex;
    flex-direction: column; }
    #villagers .villager.highlighted {
      cursor: pointer;
      background-color: #ffffffaa;
      box-sizing: border-box;
      border: 2px solid gold;
      box-shadow: 0 0 0.5rem 0 gold; }
      #villagers .villager.highlighted:hover {
        background-color: #00000044;
        box-shadow: 0 0 0.5rem 0 #ccac00;
        border-color: #ccac00; }
    #villagers .villager .portrait {
      border: 2px solid #008f11;
      height: 2.5rem;
      width: 2.5rem; }
      #villagers .villager .portrait img {
        height: 100%;
        width: auto; }
    #villagers .villager .row {
      gap: 0.5rem; }
    #villagers .villager .column {
      justify-content: space-between; }
    #villagers .villager .description {
      font-size: 0.75rem; }
    #villagers .villager .affinity-container {
      height: 1rem;
      display: flex;
      gap: 0.125rem; }
      #villagers .villager .affinity-container .heart {
        display: inline-block;
        height: 100%; }
        #villagers .villager .affinity-container .heart img {
          height: 1rem;
          width: auto; }
      #villagers .villager .affinity-container .partial-container {
        display: inline-block;
        height: 100%;
        position: relative;
        z-index: 2; }
      #villagers .villager .affinity-container .partial {
        opacity: .9;
        overflow: hidden;
        width: calc($small-text * 1.2);
        position: absolute;
        bottom: 0; }
        #villagers .villager .affinity-container .partial img {
          bottom: 0;
          position: absolute; }

/*# sourceMappingURL=style.css.map */
