/* variables */

/* colors */
$sky-blue: #87ceeb;
$yellow-leather: #e1a836;
$dollar-bill-green: #85bb65;
$sandy-brown: #f9cca4;
$lavender-purple: #b09cc9;
$parchment: #fcf5ef;
$dusty-pink: #ffd1d8;
$white-yellow: #fff5e5;
$blue-moon-gray: #90c0df;
$off-black-gray: #333;
$off-white-gray: #ddd;
$neon-yellow: #ffff33;
$neon-orange: #ff5f1f;
$neon-red: #ff3131;
$invisible: #ffffff00;

$dark-text: #333;
$light-text: #eee;

/* sizes */
$fine-text: 0.75rem;
$small-text: 1rem;
$smallish-text: 1.25rem;
$med-small-text: 1.5rem;
$medium-text: 2rem;
$med-large-text: 3rem;
$large-text: 4rem;

$fine-gutter: 0.125rem;
$small-gutter: 0.5rem;
$medium-gutter: 1rem;

/* site-wide */

body, html {
  color: $dark-text;
  font-family: Montserrat, Verdana, sans-serif;
  font-size: $small-text;
  margin: 0;
  padding: 0;
}

/* reset */
h1, h2, h3 {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* layout */

#page {
  height: 100vh;
  background-color: $white-yellow;

  &.dark-mode {
    color: $light-text;

    #actions {
      .action {
        border-color: $off-white-gray;
      }
    }

    #location {
      h2.name {
        background-color: #000000aa;
      }
    }
  }
}

/* general lists */

ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

.row {
  @include row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

.column {
  @include column;
}

@mixin game-element {
  z-index: 2;
}

/* top-bar HUD elements */

#top-bar {
  background-color: $sky-blue;
  display: flex;
  height: 19%;
  justify-content: space-between;
  margin-bottom: 1vh;
  position: relative;
  width: 100%;
}

#hero {
  @include game-element;
  display: flex;
  gap: $small-gutter;
  z-index: 2;

  .portrait {
    border: 2px solid #008f11;
    height: 100%;
    box-sizing: border-box;

    img {
      height: 100%;
      width: auto;
    }
  }

  .column {
    justify-content: space-between;
    margin-top: $small-gutter;
  }

  .name {
    font-size: $medium-text;

    @media only screen and (max-width: 900px) {
      font-size: $med-small-text;
    }
  }
}

#logo {
  @include game-element;
  animation: sinewave 30s linear infinite;
  font-family: "Lobster Two", "Times New Roman", serif;
  font-size: $large-text;
  left: 50%;
  opacity: 75%;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes sinewave {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.75;
  }
}

#score {
  @include game-element;
  *:first-child {
    font-size: $medium-text;

    @media only screen and (max-width: 900px) {
      font-size: $smallish-text;
    }
  }
}

#clock {
  @include game-element;
  font-size: $medium-text;
  margin: $small-gutter;

  @media only screen and (max-width: 900px) {
    font-size: $med-small-text;
  }

  &.late {
    color: $neon-yellow;
  }

  &.very-late {
    color: $neon-orange;
  }

  &.very-very-late {
    color: $neon-red;
  }
}

#sky-container {
  width: calc(100% - 4rem);
  height: calc(100% + 4rem);
  position: absolute;
  left: 0;

  @mixin heavenly-body {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  #sun {
    @include heavenly-body;
    background-color: yellow;
    box-shadow: 0 0 4rem 1rem yellow;
  }

  #moon {
    @include heavenly-body;
    background-color: $white-yellow;
    box-shadow: 0 0 1rem .25rem $white-yellow;
    border: 1px solid white;
    overflow: hidden;

    #darkside {
      position: absolute;
      height: 100%;
      width: 50%;
      background-color: black;
    }

    #ellipse {
      position: absolute;
      border-radius: 50%;
      height: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: black;
    }
  }
}


/* main-area */

#main-area {
  display: flex;
  gap: $small-gutter;
  height: 80%;
  position: relative;
  width: 100%;
}

/* left-sidebar elements */

#sidebar {
  @include column;
  justify-content: space-between;
  width: 20%;
}

#inventory {
  @include column;
  background-color: $yellow-leather;
  height: 80%;
  justify-content: space-between;
  width: 100%;

  .item {
    border: 2px solid;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;

    &.empty-slot {
      border-color: $invisible;
      opacity: 0.5;
    }

    &.common {
      border-color: $invisible;
    }

    &.uncommon {
      border-color: limegreen;
      background-color: fade-out(limegreen, 0.5);
    }

    &.rare {
      border-color: dodgerblue;
      background-color: fade-out(dodgerblue, 0.5);
    }

    &.epic {
      border-color: rebeccapurple;
      background-color: fade-out(rebeccapurple, 0.5);
    }

    .type {
      font-size: $medium-text;
      margin-right: $small-gutter;

      @media only screen and (max-width: 900px) {
        font-size: $med-small-text;
      }
    }

    .name {
      font-size: $med-small-text;

      @media only screen and (max-width: 900px) {
        font-size: $small-text;
      }
    }
  }
}

#wallet {
  background-color: $dollar-bill-green;
  font-size: $large-text;
  text-align: center;
  overflow: hidden;
  height: 20%;

  @media only screen and (max-width: 900px) {
    font-size: $med-large-text;
  }
}

/* column between left-sidebar and center-col */
// will be deleted after "action chip" feature is implemented

#actions {
  @include column;
  background-color: pink;
  width: 20%;
  overflow-y: auto;

  .action {
    border-bottom: 1px solid $off-black-gray;
    cursor: pointer;
    display: flex;
    font-size: $small-text;
    justify-content: space-between;
    padding: $small-gutter 0;
    width: 100%;

    span {
      display: inline-block;

      &.description {
        text-align: center;
      }
    }
  }
}

/* center-col elements */

#center-col {
  @include column;
  height: 100%;
  overflow: hidden;
  width: 60%;
  justify-content: space-between;
}

#location {
  height: 50%;
  position: relative;
  width: 100%;
  flex-grow: 0;

  h2.name {
    font-size: $medium-text;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 10;
    background-color: #ffffffaa;
  }

  .landscape-filter {
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .landscape {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

#buildings {
    bottom: 0;
    justify-content: space-between;
  background-color: rgba($lavender-purple, 0.5);
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 5;

    .building {
      @include column;
      max-width: 20%;

      .icon {
        font-size: $medium-text;
        text-align: center;

        @media only screen and (max-width: 900px) {
          font-size: $smallish-text;
        }
      }

      .name {
        text-align: center;
        font-size: $med-small-text;

        @media only screen and (max-width: 900px) {
          font-size: $fine-text;
        }
      }
    }
  }


#local-items {
  @include row;
  background-color: $sandy-brown;
  height: 20%;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  .item {
    display: flex;
    flex-direction: column;
    width: 15%;
    box-sizing: border-box;
    overflow: hidden;

    &.empty-slot {
      border-color: beige;
      opacity: 0.5;
    }

    .type {
      font-size: $med-small-text;
      text-align: center;
    }

    .name {
      text-align: center;
      font-size: $med-small-text;

      @media only screen and (max-width: 900px) {
        font-size: $fine-text;
      }
    }

    &.watered {
      border: 1px solid blue;
    }
  }
}


#footer {
  height: 30%;
  flex-grow: 1;
  width: 100%;
  position: relative;
}

#message-log {
  background-color: $parchment;
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .message {
    font-size: $med-small-text;
    overflow: hidden;
    width: 100%;
    padding-bottom: $small-gutter;
    margin-top: $small-gutter;
    border-bottom: 1px solid darkgreen;

    &:last-child {
      border: none;
    }

    &.error {
      color: darkred;
    }
  }
}

#dialogue {
  @include column;
  background-color: $parchment;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;

  .speaker {
    @include row;
    gap: $small-gutter;
  }

  .portrait {
    border: 2px solid #008f11;
    height: 2.5rem;
    width: 2.5rem;

    img {
      height: 100%;
      width: auto;
    }
  }

  .name {
    font-size: $medium-text
  }

  .dialogue-text {
    font-size: $smallish-text;
  }

  &:hover::after {
    color: #8f0011;
    content: '×';
    font-size: $med-large-text;
    position: absolute;
    right: 0;
    top: -$medium-gutter;
  }
}

/* right-sidebar elements, just villagers */

#villagers {
  @include column;
  background-color: $dusty-pink;
  gap: $small-gutter;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 20%;

  .villager {
    @include column;

    &.highlighted {
      cursor: pointer;
      background-color: #ffffffaa;
      box-sizing: border-box;
      border: 2px solid gold;
      box-shadow: 0 0 0.5rem 0 gold;

      &:hover {
        background-color: #00000044;
        box-shadow: 0 0 0.5rem 0 darken(gold, 10%);
        border-color: darken(gold, 10%);
      }
    }

    .portrait {
      border: 2px solid #008f11;
      height: 2.5rem;
      width: 2.5rem;

      img {
        height: 100%;
        width: auto;
      }
    }

    .row {
      gap: $small-gutter;
    }

    .column {
      justify-content: space-between;
    }

    .description {
      font-size: $fine-text;
    }

    .affinity-container {
      height: $small-text;
      display: flex;
      gap: $fine-gutter;

      .heart {
        display: inline-block;
        height: 100%;

        img {
          height: $small-text;
          width: auto;
        }
      }

      .partial-container {
        display: inline-block;
        height: 100%;
        position: relative;
        z-index: 2;
      }

      .partial {
        opacity: .9;
        overflow: hidden;
        width: calc($small-text * 1.2); // hard-coded h->w ratio of the heart image
        position: absolute;
        bottom: 0;

        img {
          bottom: 0;
          position: absolute;
        }
      }
    }
  }
}
