/* site-wide */

body {
    margin: 0;
}

* {
    font-family: "Roboto Mono", Roboto, sans-serif;
    color: #008f11;
    font-size: 4vh;
}

/* layout */

.page {
    position: relative;
    height: 100%;
}

.top-bar {
    width: 100%;
    height: 20%;
    background-color: #ffd;
    position: relative;
}

.main-area {
    width: 100%;
    height: 80%;
    display: flex;
}

.sidebar {
    width: 35%;
    height: 100%;
    background-color: #dff;
}

.canvas {
    width: 80%;
    height: 100%;
    background-color: #fdf;
}

/* general lists */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

ul.horizontal {
    flex-direction: row;
}

ul.vertical {
    flex-direction: column;
}

/* top-bar HUD elements */

ul.game-info {
    justify-content: space-between;
    position: relative;
    width: 100%;
}

li.player-info {
    position: absolute;
    left: 0;
    display: flex;
    gap: 2vh;
}

.player-avatar {
    width: 6vh;
    height: 6vh;
    border: 2px solid #008f11;
}

.player-avatar img {
    width: 100%;
    height: 100%;
}

li.location {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

li.stats {
    position: absolute;
    right: 0;
}

ul.stats {
    align-items: end;
}

.message {
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translate(-50%, 0);
    border: 2px solid #008f11;
}

.message:hover {
    cursor: pointer;
}

.message:hover::after {
    content: '×';
    color: #8f0011;
    position: absolute;
    font-size: 6vh;
    top: -3vh;
    right: 0;
}

ul.inventory {
    position: absolute;
    top: 14vh;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 0;
}

li.item .qty::before {
    content: ' x';
}

/* sidebar elements */

ul.actions {
    width: 100%;
}

.action {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.action.executing {
    background-color: #8f0011;
}

/* canvas elements */

.landscape {
    display: block;
    margin: auto;
    height: 100%;
    opacity: 50%;
}