/* site-wide */

body {
    margin: 0;
}

/* landing page */
.headline {
    font-size: 96px;
    text-align:center;
    color: navy;
    text-stroke: 2px black;
}

.go-button {
    margin: 20px auto;
    display: block;
    width: max-content;
    padding: 20px;
    background-color: rebeccapurple;
    border: 0;
    border-radius: 20px;
    text-decoration: none;
    color: gold;
    font-size: 36px;
    transition: all 0.1s ease-in-out;
}

.go-button:hover {
    box-shadow: 0 5px 15px blueviolet;
}

.go-button:active {
    background-color: darkslateblue;
    box-shadow: 0 5px 15px black;
    color: white;
}

/* quandary page, hero page */

.quandary-page {
    background-color: rgb(40, 60, 60);
    position: relative;
    height: 100%;
}

.hero-page {
    background-color: rgb(180, 140, 90);
    position: relative;
    height: 100%;
}

.top-bar {
    width: 100%;
    height: 10%;
    position: relative;
    z-index: 1;
}


.hero-page .top-bar {
    height: 20%;
}

.main-area {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-bar {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
}

.hero-page .bottom-bar {
    height: 20%;
}

.quandary-cta, .hero-callout {
    font-size: 9vh;
    text-align:center;
    color: rebeccapurple;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    margin: 0;
}

.hero-callout {
    color: navy;
}

.banter {
    position: relative;
    font-size: 4vh;
    text-align:center;
    color: black;
    z-index: 1;
}

.landscape-container, .portrait-container {
    display: inline-block;
    position: relative;
}

.landscape, .portrait {
    height: 100%;
}

.landscape-shadow, .portrait-shadow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.landscape-shadow {
    box-shadow: 0 0 5vh 5vh rgb(40, 60, 60) inset;
}

.portrait-shadow {
    box-shadow: 0 0 5vh 5vh rgb(180, 140, 90) inset;
}

.quandary-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.choice-button {
    display: inline-block;
    height: 100%;
    width: 30%;
    padding: 2vh 2vh;
    background-color: rebeccapurple;
    border: 0;
    border-radius: 3vh;
    font-size: 3vh;
    text-decoration: none;
    color: gold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.choice-button:hover {
    cursor: pointer;
}