{% load static %}
<link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'mythgarden/style.css' %}">
<script type="module" src="{% static 'mythgarden/dist/bundle.js' %}"></script>

<!--
expected models:
    hero:
        name
        portrait:
            url
        score
    clock:
        display
    wallet
        display
    place:
        name
        image:
            url
    inventory[]:
        name
        rarity
    actions[]:
        description
        display_cost
    buildings[]:
        name
    villager_states[]:
        affinity
        villager
            name
    local_item_tokens[]:
        name
        has_been_watered
        rarity
-->
<div class="page">
    <section class="top-bar">
        <ul class="horizontal game-info">
            <li class="player-info">
                <div class="player-avatar">
                    <img src="{{ hero.portrait.url }}">
                </div>
                <div>
                    <div class="player-name">{{ hero.name }}</div>
                    <div class="score-cont">
                        <span class="score">{{ hero.score }} (⚜️{{hero.koin_earned}} x {{hero.hearts_earned}}❤️)</span>
                    </div>
                </div>

            </li>
            <li class="location">{{ place.name }}</li>
            <li class="stats">
                <ul class="vertical stats">
                    <li class="clock">{{ clock.display }}</li>
                    <li class="wallet">{{ wallet.display }}</li>
                </ul>
            </li>
        </ul>
        <p class="message">{{ message }}</p>
        <ul class="horizontal inventory">
            {% for item in inventory %}
                <li class="item {{ item.rarity }}">
                    <span class="item-name">{{ item.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="main-area">
        <section class="sidebar">
            <div>Actions:</div>
            <ul class="vertical actions">
                {% for action in actions %}
                    <li class="action">
                        <span class="description">{{action.description}}</span>
                        <span class="cost">{{action.display_cost}}</span>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section class="canvas">
            <img class="landscape" src="{{ place.image.url }}">
            <ul class="buildings vertical">
                {% for building in buildings %}
                    <li class="building">
                        <span class="building-name">{{ building.name }}</span>
                    </li>
                {% endfor %}
            </ul>
            <ul class="villagers vertical">
                {% for villager_state in villager_states %}
                    <li class="villager">
                        <span class="villager-name">{{ villager_state.villager.name }}</span>
                        <span class="affinity">{{ villager_state.display_affinity }}</span>
                    </li>
                {% endfor %}
            </ul>
            <ul class="contents horizontal">
                {% for item_token in local_item_tokens %}
                    <li class="item {{item.rarity}} {{ item_token.has_been_watered|yesno:"watered," }}">
                        <span class="item-name">{{ item_token.name }}</span>
                    </li>
                {% endfor %}
            </ul>
            <ul class="log vertical">
                <li class="log-entry cursor">&nbsp;</li>
            </ul>
        </section>
    </section>
</div>

