{% load static %}
<link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'mythgarden/style.css' %}">
<script src="{% static 'mythgarden/script.js' %}"></script>

<div class="page">
    <section class="top-bar">
        <ul class="horizontal game-info">
            <li class="player-info">
                <div class="player-avatar">
                    <img src="{% static 'mythgarden/images/squall-farmer.png' %}">
                </div>
                <div class="player-name">Squall Leonhart</div>
            </li>
            <li class="location">Balamb Farm</li>
            <li class="stats">
                <ul class="vertical stats">
                    <li class="datetime"><span class="day">Mon</span> <span class="time">2pm</span></li>
                    <li class="money">₭300</li>
                </ul>
            </li>
        </ul>
        <p class="message">Welcome to Mythgarden :)</p>
        <ul class="horizontal inventory">
            <li class="item">Parsnip Seed<span class="qty">15</span></li>
        </ul>
    </section>

    <section class="main-area">
        <section class="sidebar">
            <ul class="vertical actions">
                <li>Actions:</li>
                <li class="action"><span>Plant Seeds</span><span class="cost">1h</span></li>
                <li class="action"><span>Walk North</span><span class="cost">1h</span></li>
                <li class="action"><span>Walk East</span><span class="cost">30m</span></li>
                <li class="action"><span>Walk South</span><span class="cost">30m</span></li>
            </ul>
        </section>

        <section class="canvas">
            <img class="landscape" src="{% static 'mythgarden/images/idyllic-green-farm.png' %}">
        </section>
    </section>
</div>

