/* variables */

/* colors */
$sky-blue: #87ceeb;
$yellow-leather: #e1a836;
$dollar-bill-green: #85bb65;
$sandy-brown: #f9cca4;
$lavender-purple: #b09cc9;
$parchment: #fcf5ef;
$dusty-pink: #ffd1d8;
$white-yellow: #fff5e5;
$blue-moon-gray: #90c0df;
$off-black-gray: #333;
$off-white-gray: #ddd;
$neon-yellow: #ffff33;
$neon-orange: #ff5f1f;
$neon-red: #ff3131;
$invisible: #ffffff00;
$aqua: #05d0eb;
$maple: #bb9351;

$dark-text: #333;
$light-text: #eee;

/* sizes */
$fine-text: 0.75rem;
$small-text: 1rem;
$smallish-text: 1.25rem;
$med-small-text: 1.5rem;
$medium-text: 2rem;
$med-large-text: 3rem;
$large-text: 4rem;

$fine-gutter: 0.125rem;
$small-gutter: 0.5rem;
$medium-gutter: 1rem;

$villager-portrait-size: calc($small-text * 5 + $fine-gutter * 4);
$portrait-radius: 25%;

/* degrees */

$meta-element-opacity: 0.6;

/* site-wide */

body, html {
  color: $dark-text;
  font-family: Montserrat, Verdana, sans-serif;
  font-size: $small-text;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}

/* reset */
h1, h2, h3 {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

textarea {
  border: none;
  background-color: transparent;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0;
}

/* development code */
ul#djDebugPanelList {
  display: block !important;
}

/* layout */

#page {
  height: 100vh;
  background-color: $white-yellow;

  &.dark-mode {
    color: $light-text;

    #actions {
      .action {
        border-color: $off-white-gray;
      }
    }

    #location {
      h2.name {
        background-color: #000000aa;
      }
    }
  }
}

/* general lists */

ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

.row {
  @include row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

.column {
  @include column;
}

@mixin game-element {
  z-index: 2;
}

@mixin rounded-portrait {
  border-radius: $portrait-radius;
  overflow: hidden;
}

$fuschia: #b827fc;
$electric-blue: #2c90fc;
$bright-green: #b8fd33;
$light-orange: #fec837;
$hot-red: #fd1892;


@mixin rainbow-border {
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right,
    $fuschia 0%,
    $electric-blue 25%,
    $bright-green 50%,
    $light-orange 75%,
    $hot-red 100%);
  border-image-slice: 1;
}
/* top-bar HUD elements */

#top-bar {
  background-color: $sky-blue;
  display: flex;
  height: 19%;
  justify-content: space-between;
  margin-bottom: 1vh;
  position: relative;
  width: 100%;
}

#hero {
  @include game-element;
  display: flex;
  gap: $small-gutter;
  z-index: 2;
  max-width: 50%;

  .portrait {
    @include rounded-portrait;
    border: 2px solid #008f11;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;


    img {
      height: 100%;
      width: auto;
    }
  }

  .column {
    justify-content: space-between;
    margin-top: $small-gutter;
  }

  .name {
    font-size: $medium-text;

    textarea {
    }

    @media only screen and (max-width: 900px) {
      font-size: $med-small-text;
    }
  }
}

#gallery {
  @include row;
  @include rainbow-border;
  position: absolute;
  justify-content: space-around;
  flex-wrap: wrap;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  z-index: 100;
  background-color: fade-out($off-black-gray, 0.05);
  overflow-y: auto;
  height: 95vh;
  box-sizing: border-box;
  gap: $medium-gutter;
  box-shadow: 0 0 10rem 5rem $off-black-gray;

  .portrait {
    @include rounded-portrait;
    border: 1px solid black;
    height: 40vh;
    cursor: pointer;
    box-sizing: border-box;

    &.current {
      border: 3px solid $fuschia;
      box-shadow: 0 0 5px 5px $fuschia;
    }

    img {
      height: 100%;
      width: auto;
    }
  }
}

#logo {
  @include game-element;
  animation: sinewave 30s linear infinite;
  font-family: "Lobster Two", "Times New Roman", serif;
  font-size: $large-text;
  left: 50%;
  opacity: 75%;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes sinewave {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.75;
  }
}

#score {
  @include game-element;
  *:first-child {
    font-size: $medium-text;

    @media only screen and (max-width: 900px) {
      font-size: $smallish-text;
    }
  }
}

#high-score {
  font-size: $small-text;
  opacity: $meta-element-opacity;

  @media only screen and (max-width: 900px) {
    font-size: $fine-text;
  }
}

#clock {
  @include game-element;
  @include column;
  font-size: $medium-text;
  margin: $small-gutter;
  text-align: right;

  @media only screen and (max-width: 900px) {
    font-size: $med-small-text;
  }

  .late {
    color: $neon-yellow;
  }

  .very-late {
    color: $neon-orange;
  }

  .very-very-late {
    color: $neon-red;
  }
}

#boost {
  opacity: $meta-element-opacity;
  font-size: $smallish-text;
  text-align: right;

  @media only screen and (max-width: 900px) {
    font-size: $small-text;
  }

}

#sky-container {
  width: calc(100% - 4rem);
  height: calc(100% + 4rem);
  position: absolute;
  left: 0;

  @mixin heavenly-body {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  #sun {
    @include heavenly-body;
    background-color: yellow;
    box-shadow: 0 0 4rem 1rem yellow;
  }

  #moon {
    @include heavenly-body;
    background-color: $white-yellow;
    box-shadow: 0 0 1rem .25rem $white-yellow;
    border: 1px solid white;
    overflow: hidden;

    #darkside {
      position: absolute;
      height: 100%;
      width: 50%;
      background-color: black;
    }

    #ellipse {
      position: absolute;
      border-radius: 50%;
      height: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: black;
    }
  }
}


/* main-area */

#main-area {
  display: flex;
  gap: $small-gutter;
  height: 80%;
  position: relative;
  width: 100%;
}

/* left-sidebar elements */

#sidebar {
  @include column;
  justify-content: space-between;
  width: 20%;
}

#inventory {
  @include column;
  background-color: $yellow-leather;
  height: 80%;
  justify-content: space-between;
  width: 100%;

  .item {
    @include row;
    border: 2px solid;
    overflow: hidden;
    flex-grow: 1;
    word-wrap: break-word;
    max-width: 100%;
    align-items: center;
    gap: $small-gutter;
    cursor: pointer;

    &.empty-slot {
      border-color: $invisible;
      opacity: 0.5;
    }

    &.common {
      border-color: $invisible;
    }

    &.uncommon {
      border-color: limegreen;
      background-color: fade-out(limegreen, 0.5);

      .type:after {
        content: '*';
        color: darken(limegreen, 20%);
      }
    }

    &.rare {
      border-color: dodgerblue;
      background-color: fade-out(dodgerblue, 0.5);
      box-shadow: 0 0 0.1rem 0 dodgerblue;

      .type:after {
        content: '**';
        color: darken(dodgerblue, 20%);
      }
    }

    &.epic {
      border-color: rebeccapurple;
      background-color: fade-out(rebeccapurple, 0.5);
      box-shadow: 0 0 0.25rem 0 rebeccapurple;

      .type:after {
        content: '***';
        color: rebeccapurple;
      }
    }

    .type {
      font-size: $medium-text;
      position: relative;

      @media only screen and (max-width: 900px) {
        font-size: $med-small-text;
      }

      &:after {
        content: '';
        position: absolute;
        font-size: $medium-text;
        bottom: calc(0% - 2rem); // 2rem == $medium-text
        left: 0;

        @media only screen and (max-width: 900px) {
          font-size: $med-small-text;
        }
      }
    }

    .name {
      font-size: $med-small-text;
      display: inline-block;
      max-width: 80%;

      @media only screen and (max-width: 900px) {
        font-size: $small-text;
      }
    }
  }
}

#wallet {
  background-color: $dollar-bill-green;
  font-size: $large-text;
  text-align: center;
  overflow: hidden;
  height: 20%;

  @media only screen and (max-width: 900px) {
    font-size: $med-large-text;
  }
}

/* column between left-sidebar and center-col */
// will be deleted after "action chip" feature is implemented

#actions {
  @include column;
  background-color: pink;
  width: 20%;
  overflow-y: auto;

  .action {
    border-bottom: 1px solid $off-black-gray;
    cursor: pointer;
    display: flex;
    font-size: $small-text;
    justify-content: flex-start;
    padding: $small-gutter 0;
    width: 100%;

    span {
      display: inline-block;
    }

    .type {
      min-width: 2.5rem;
    }

    .description {
      text-align: center;
      flex-grow: 1;
    }

    .cost {
      min-width: 2.5rem;
      text-align: right;
    }
  }
}

/* center-col elements */

#center-col {
  @include column;
  height: 100%;
  overflow: hidden;
  width: 60%;
  justify-content: space-between;
}

#location {
  height: 50%;
  position: relative;
  width: 100%;
  flex-grow: 0;

  h2.name {
    font-size: $medium-text;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 10;
    background-color: #ffffffaa;
  }

  .landscape-filter {
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .landscape {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .arrow {
    position: absolute;
    z-index: 5;
    font-size: $medium-text;
    font-family: "Lobster Two", "Times New Roman", serif;
    cursor: pointer;

    background-color: fade-out($maple, 0.2);

    span {
      position: absolute;
    }

    &.west {
      left: 0;
      clip-path: polygon(0% 50%, 100% 0%, 100% 100%);

      span {
        right: 0;
      }
    }

    &.east {
      right: 0;
      clip-path: polygon(0% 0%, 0% 100%, 100% 50%);

      span {
        left: 0;
      }
    }

    &.north {
      top: 0;
      clip-path: polygon(0% 100%, 50% 0%, 100% 100%);

      span {
        bottom: 0;
      }
    }

    &.south {
      bottom: 0;
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%);

      span {
        top: 0;
      }
    }

    &.west, &.east {
      top: 50%;
      transform: translateY(-50%);
      height: 80%;
      width: 15%;
      font-size: $medium-text;

      span {
        writing-mode: vertical-lr;
        text-orientation: upright;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &.north, &.south {
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 30%;

      span {
        width: 100%;
        text-align: center;
      }
    }
  }
}

#buildings {
    bottom: 0;
    justify-content: space-between;
    background-color: rgba($lavender-purple, 0.5);
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 5;

    .building {
      @include column;
      max-width: 20%;
      cursor: pointer;

      .icon {
        font-size: $medium-text;
        text-align: center;

        @media only screen and (max-width: 900px) {
          font-size: $smallish-text;
        }
      }

      .name {
        text-align: center;
        font-size: $med-small-text;

        @media only screen and (max-width: 900px) {
          font-size: $fine-text;
        }
      }
    }
  }


#local-items {
  @include row;
  background-color: $sandy-brown;
  height: 20%;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    cursor: pointer;

    &.empty-slot {
      border-color: beige;
      opacity: 0.5;
    }

    .type {
      font-size: $med-small-text;
      text-align: center;
    }

    .name {
      text-align: center;
      font-size: $small-text;

      @media only screen and (max-width: 900px) {
        font-size: $fine-text;
      }
    }

    .quantity {
      position: absolute;
      right: $small-gutter;
      top: $small-gutter;
    }

    &.watered {
      border: 1px dashed $aqua;
      background-color: fade-out($aqua, 0.5);
    }
  }
}


#footer {
  height: 30%;
  flex-grow: 1;
  width: 100%;
  position: relative;
}

#message-log {
  background-color: $parchment;
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .message {
    font-size: $med-small-text;
    overflow: hidden;
    width: 100%;
    padding-bottom: $small-gutter;
    margin-top: $small-gutter;
    border-bottom: 1px solid darkgreen;

    &:last-child {
      border: none;
    }

    &.error {
      color: darkred;
    }
  }
}

#dialogue {
  @include column;
  background-color: $parchment;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
  overflow-y: auto;

  .speaker {
    @include column;
    gap: $small-gutter;

  }

  .portrait {
    border: 2px solid $dusty-pink;
    height: 5rem;
    width: 5rem;

    img {
      height: 100%;
      width: auto;
    }
  }

  .name {
    font-size: $medium-text
  }

  .dialogue-text {
    font-size: $smallish-text;
  }

  &:after {
    color: #8f0011;
    content: '×';
    font-size: $med-large-text;
    position: absolute;
    right: 0;
    top: -$medium-gutter;
  }
}

/* right-sidebar elements, just villagers */

#villagers {
  @include column;
  background-color: $dusty-pink;
  gap: $medium-gutter;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 20%;

  .villager {
    @include column;
    cursor: pointer;

    &.highlighted {
      cursor: pointer;
      background-color: #ffffffaa;
      border: 2px solid gold;
      box-shadow: 0 0 0.5rem 0 gold;

      &:hover {
        background-color: #00000044;
        box-shadow: 0 0 0.5rem 0 darken(gold, 10%);
        border-color: darken(gold, 10%);
      }
    }

    .portrait {
      border: 2px solid darken($dusty-pink, 10%);
      width: calc(100% - (2 * (1rem * 1.2))); // 1rem == $small-text
      border-radius: $portrait-radius;
      overflow: hidden;

      img {
        height: auto;
        width: 100%;
        margin-bottom: -4px;
      }
    }

    .name {
      font-size: $med-small-text;
      text-align: center;
    }

    .row {
      gap: $small-gutter;
      justify-content: center;
      align-items: center;
    }

    .column {
      justify-content: space-between;
    }

    .description {
      font-size: $fine-text;
    }

    .affinity-container {
      width: calc(1rem * 1.2); // hard-coded h->w ratio of the heart image
      display: flex;
      flex-direction: column-reverse;
      gap: $small-gutter;

      .heart {
        display: inline-block;
        height: $small-text;

        img {
          height: $small-text;
          width: auto;
        }
      }

      .partial-container {
        display: inline-block;
        height: $small-text;
        position: relative;
        z-index: 2;
      }

      .partial {
        opacity: .9;
        overflow: hidden;
        width: calc(1rem * 1.2); // hard-coded h->w ratio of the heart image
        position: absolute;
        bottom: 0;

        img {
          bottom: 0;
          position: absolute;
        }
      }
    }
  }
}
